<div class="form-container">
    <form class="text-center border border-light p-5" method="POST">

        <p class="h4 mb-4">Register</p>

        <!-- username -->
        <div class="md-form">
            <input type="text" name="username" id="materialRegisterFormUsername" class="form-control">
            <label for="materialRegisterFormUsername">Username</label>
        </div>

        <!-- Password -->
        <div class="md-form">
            <input type="password" name="password" id="materialRegisterFormPassword" class="form-control">
            <label for="materialRegisterFormPassword">Password</label>
        </div>

        <!-- Repeat Password -->
        <div class="md-form">
            <input type="password" name="repeatPassword" id="materialRegisterFormRepeatPassword" class="form-control">
            <label for="materialRegisterFormRepeatPassword">Repeat Password</label>
        </div>

        <button class="btn btn-info btn-block my-4" type="submit">Register</button>

        <!-- Register -->
        <p>Already member?
            <a href="/user/login">Login</a>
        </p>

    </form>
</div>