.card{
    min-width: 18rem; 
    max-width: 18rem;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.list-container{
    margin: 20px;
}
.list-group{
    margin-top: 20px;
}

.btn-group{
    margin-right: 10px;
}

.badge{
    margin-left: 10px;
}

footer {
    bottom: 0;
    width: 100%;
    margin-top: 5em;
   z-index:9999999;
}